# Ignorer tout par défaut
*

# Exceptions - fichiers à la racine
!.gitignore
!LICENSE
!*.md

# Exceptions - dossier back
!back/
!back/pom.xml
!back/src/
!back/src/**
!back/mvnw
!back/mvnw.cmd
!back/.mvn/
!back/.mvn/wrapper/
!back/.mvn/wrapper/**

# Exceptions - dossier front
!front/
!front/public/
!front/public/**
!front/src/
!front/src/**
!front/eslint.config.js
!front/index.html
!front/package-lock.json
!front/package.json
!front/vite.config.js
!front/.env
!front/.env.development
!front/.prettierrc
