# Ignorer tout par défaut
*

# Exceptions
!.gitignore
!LICENSE
!*.md
!.github/
!.github/**
!back/
!back/pom.xml
!back/src/
!back/src/main/
!back/src/main/docker/
!back/src/main/docker/**
!back/src/main/java/
!back/src/main/java/**
!back/src/main/resources/
!back/src/main/resources/**
!back/src/test/
!back/src/test/**
!back/mvnw
!back/mvnw.cmd
!back/.mvn/
!back/.mvn/wrapper/
!back/.mvn/wrapper/**
!back/src/main/frontend/
!back/src/main/frontend/public/
!back/src/main/frontend/public/**
!back/src/main/frontend/src/
!back/src/main/frontend/src/**
!back/src/main/frontend/eslint.config.js
!back/src/main/frontend/index.html
!back/src/main/frontend/package-lock.json
!back/src/main/frontend/package.json
!back/src/main/frontend/vite.config.js
!back/src/main/frontend/.env
!back/src/main/frontend/.env.development
!back/src/main/frontend/.prettierrc
