# Ignorer tout par défaut
*

# Exceptions - fichiers à la racine
!.gitignore
!LICENSE
!*.md

# Exceptions - dossier back
!back/
!back/pom.xml
!back/src/
!back/src/**
!back/mvnw
!back/mvnw.cmd
!back/.mvn/
!back/.mvn/wrapper/
!back/.mvn/wrapper/**

# Exceptions - dossier front
!front/
!front/public/
!front/public/**
!front/src/
!front/src/**
!front/eslint.config.js
!front/index.html
!front/package-lock.json
!front/package.json
!front/vite.config.js
!front/.env
!front/.env.development
!front/.prettierrc

# Exceptions - Tauri
!front/src-tauri/
!front/src-tauri/src/
!front/src-tauri/src/**
!front/src-tauri/icons/
!front/src-tauri/icons/**
!front/src-tauri/capabilities/
!front/src-tauri/capabilities/**
!front/src-tauri/Cargo.toml
!front/src-tauri/build.rs
!front/src-tauri/tauri.conf.json
!front/src-tauri/.gitignore

# Exceptions - GitHub workflows
!.github/
!.github/workflows/
!.github/workflows/**
