#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.hover-shadow {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hover-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transform: translateY(-5px);
}
