name: Build Native Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: "21"
          distribution: "graalvm"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build native
        run: ./mvnw clean package -Pnative -DskipTests

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: native-executable-${{ matrix.os }}
          path: target/*-runner*

      - name: Create Release
        if: matrix.os == 'ubuntu-latest'
        uses: softprops/action-gh-release@v1
        with:
          files: target/*-runner*
          generate_release_notes: true
